<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias alias="CommunityVO" type="com.springproject.vo.CommunityVO"/>
		<typeAlias alias="FileCommunityVO" type="com.springproject.vo.FileCommunityVO"/>
		<typeAlias alias="CommunityCommentVO" type="com.springproject.vo.CommunityCommentVO"/>
		<typeAlias alias="LikeVO" type="com.springproject.vo.LikeVO"/>
		<typeAlias alias="MemberVO" type="com.springproject.vo.MemberVO"/>
	</typeAliases>
</configuration>