<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout lang="ko">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/apple-icon-180x180.png">
  <link href="../../assets/favicon.ico" rel="icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

  <title>우리집</title>

  <link href="../../css/main.css" rel="stylesheet">
  <script type="text/javascript" src="../../js/jquery.js"></script>

  <style>
    .navbar_display {
      background-color: white;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      transition: all 300ms ease-in-out;
    }
  </style>

</head>

<body style="overflow: hidden;">
  <!-- Add your content of header -->
 <div th:replace="view/fragments/header::header"></div>

  <div class="hero-full-container white-text-container">
    <div class="section-container background-image-container">
      <div class="section-container-spacer text-center">
        <div class="container">
          <h1 class="h2">회원 목록</h1>
  <form th:action="'/admin'" method="post" role="form">
          <div id="divsize">
                  <!-- 검색값 화면단에 고정 (값받아오는거 때문)-->
         <input type="hidden" name="condition" th:value="${condition}">
         <input type="hidden" name="keyword" th:value="${keyword}">


          <div id="divsize">
         <form th:action="'/admin'" method="post" role="form">
                  <!-- 검색값 화면단에 고정 (값받아오는거 때문)-->
         <input type="hidden" name="condition" th:value="${condition}">
         <input type="hidden" name="keyword" th:value="${keyword}">


          <div id="divsize">
            <!--검색창-->
                <div class="div_right" style="width: 33%;">

               <select name="searchCondition">
                  <th:each>
                     <option value="ID">ID
                     <option value="NICKNAME">닉네임
                     <option value="ADDRESS">주소
                  </th:each>
            </select>
              <input  name="searchKeyword" type="search" placeholder=" 검색어를 입력하세요">
              <button type="submit" style="background-color: rgb(10, 55, 50); border: 0;"><i class="fas fa-search icon_search"></i> </button >
            </div>

            <!--게시판 목록 표출-->
            <table class="type04">
              <tr>
                <th id="table_width_no">No</th>
                <th id="table_id">아이디</th>
                <th id="table_name">이름</th>
                <th id="table_name">닉네임</th>
                <th id="table_email">주소</th>
                <th id="table_email">이메일</th>
                <th id="table_admin">관리</th>
              </tr>
                <tr  th:each="adminInfo, status: ${adminInfo}">
                <td class="seq" th:text="${status.index+1}"></td   >
                <td th:text="${adminInfo.id}"></td >
                <td th:text="${adminInfo.name}"></td >
                <td th:text="${adminInfo.nickname}"></td >
                <td th:text="${adminInfo.address}"></td >
                <td th:text="${adminInfo.email}"></td >
                 <td><a type="button" style="background-color: transparent;" class="button" value="탈퇴"
                  th:href="'/deleteAdmin/'+${adminInfo.id}">탈퇴</a>
                 </td>
              </tr >
            </table>

          </div>
           <!--페이징 처리-->
             <div>
         <ul class="pagination">

         <!--처음으로 버튼
         pageMaker : 컨트롤러에 noticeBoard안에 선안한값
         pageNum = 게시글 넘어가는 페이지값-->
            <li th:class="pagination_button" style="float:left;margin-left:5px;">
               <a th:href="'/admin/?pageNum='+${pageMaker.startPage}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}"><<</a>
            </li>
         <!--이전 버튼 마지막 페이지 이동 시 숨김-->
            <span th:if="${pageMaker.cri.pageNum}!=1">
               <li th:class="pagination_button" style="float:left;margin-left:5px;">
                  <a th:href="'/admin/?pageNum='+${pageMaker.cri.pageNum -1}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}">이전</a>
               </li>
            </span>
            <!--숫자 버튼 게시글 수가 늘어날 수록 하나씩 추가된다.-->
            <span th:if="${pageMaker.endPage}!=0">
               <th:block th:each="Num:${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                  <li th:class="pagination_button" style="float:left;margin-left:5px;">
                     <a th:href="'/admin/?pageNum='+${Num}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}" th:text="${Num}"></a>
                  </li>
               </th:block>
            </span>
            <!--다음 버튼 마지막 페이지 이동 시 숨김-->
            <span th:if="${pageMaker.cri.pageNum}!=${pageMaker.endPage + 1}">
               <li th:class="pagination_button" style="float:left;margin-left:5px;">
                  <a th:href="'/admin/?pageNum='+${pageMaker.cri.pageNum +1}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}">다음</a>
               </li>
            </span>
         <!--마지막으로 버튼-->
            <li th:class="pagination_button" style="float:left;margin-left:5px;">
               <a th:href="'/admin/?pageNum='+${pageMaker.endPage+1}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}">>></a>
            </li>
         </ul>
      </div >
        </div>
  </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script>
    const navbar = document.querySelector('#nav');
    const navbarHeight = navbar.getBoundingClientRect().height;

    document.addEventListener('scroll', () => {
      console.log(window.scrollY);
      if (window.scrollY > navbarHeight) {
        navbar.classList.add('navbar_display');
      } else {
        navbar.classList.remove('navbar_display');
      }
    });
  </script>

  <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b0a2517b770a94b696a3d34e4f2e13ba&libraries=services"></script> -->

  <script type="text/javascript" src="../../js/main.js"></script>
</body>

</html>
