<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout lang="ko">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <script src="../../../js/jquery.js"></script>
  <script src="../../../js/jquery.nice-select.js"></script>
    <script src="../../../js/jquery-ui.js"></script>
  <script src="../../../js/jquery.timepicker.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="../../../css/nice-select.css">
  <link rel="stylesheet" href="../../../css/jquery-ui.css">
  <link rel="stylesheet" href="../../../css/jquery.timepicker.css">

  <title>소모임 글 수정</title>
<style>
	#picker_color {
		color: #fff;
		border: 1px solid #fff;
		border-radius: 5px;
		background-color: transparent;
		margin-bottom: 10px;
	}

	.input-group>a {
		position: relative;
	}

	#divsize2 {
		margin: 0px auto;
		width: 60%;
		text-align: center;
	}

	#button_color {
		color: #fff;
		border: 1px solid #fff;
		border-radius: 5px;
	}

	/*파일 이름 뜨게 하는 input박스 설정*/
	.uploadFileText {
		background-color: transparent;
		border-style: none;
		width: 250px;
		margin-left: 10px;
		font-size: small;
	}

	/*수정 파일 리스트*/
	.uploadFileList {
		display: inline-block;
		padding-right: 20px;
		color: white;
	}

	.uploadFileList button {
		background-color: rgb(10, 55, 50);
		color: black;
		border: 0;
		cursor: pointer;
	}

	/*시간선택 css*/
	.ui-timepicker-viewport {
		background-color: rgb(10, 55, 50);
	}

	.ui-timepicker-standard a {
		color: coral;
		display: block;
		padding: 0.2em 0.4em;
	}

	.ui-widget {
		font-family: Jua, Gugi sans-serif;
		font-size: 1em;
	}
</style>

  <link href="../../../css/main.css" rel="stylesheet">
</head>


<body class="" style="color:white; overflow: hidden;">
<div th:replace="view/fragments/header::header"></div>

  <div class="hero-full-container white-text-container">
    <div class="section-container background-image-container">
      <div class="section-container-spacer text-center">
      <div class="container">
          <h1 class="h2">모임 변경</h1>
          
          <div id="divsize2">
         <form  id="boardUpdate" action="/updateMyhouse" method="post" enctype="multipart/form-data">
        

              <input class="datepicker" id="picker_color" type="text" name="myhouseDate" th:value="${updateBoard.myhouseDate}" required>
              <input class="timepicker-no-scrollbar" id="picker_color" name="myhouseTime" th:value="${updateBoard.myhouseTime}" required>
              <input type="number" min="2" max="9" style="width:177.2px;" id="picker_color" name="peopleMax" th:value="${updateBoard.peopleMax}" required>

            
            <input type="hidden" id="houseNo" name="houseNo" th:value="${updateBoard.houseNo}">
            <input type="hidden" id="myhouseNo" name="myhouseNo" th:value="${updateBoard.myhouseNo}">
            <input type="hidden" id="myhouseCategory" name="myhouseCategory" th:value="${updateBoard.myhouseCategory}">
            <input type="hidden" name="nickname" th:value="${updateBoard.nickname}">
            <input type="text" class="form-control textbox" name="myhouseTitle" th:value="${updateBoard.myhouseTitle}" placeholder="제목을 입력해주세요." required>
              <div class="form-group">
                <textarea class="form-control"  th:text="${updateBoard.myhouseContent}" rows="11" name="myhouseContent" placeholder="내용을 입력해주세요" required></textarea>
                   <div class="input-group">
                   		<input type="file" name="uploadFiles" class="btn btn-default" id="button_color" multiple="multiple" style="display: none;" 
                          onchange="javascript:document.getElementById('fileName').value = this.value.split('\\')[this.value.split('\\').length-1]">
                            <a class="btn btn-default" id="button_color"
                             onclick="document.all.uploadFiles.click();">
                             &nbsp<i class="far fa-image">&nbsp</i>
                              </a>
                            <!--파일 이름 뜨는곳-->
                            <input type="text" id="fileName" readonly="readonly" class="uploadFileText">
                             
                             <!--이미지 삭제 기능-->
                    	<div class="uploadFileList" th:each="file, status: ${fileList}"  th:classappend="imgList + ${file.fileNo}">
               				<span th:text="${file.myhouseFilename}"></span  >
               				<button type='button' th:onclick='|deleteFile(${file.fileNo})|'>삭제</button>
              			</div  >
                   </div>
              </div>
              
              <!--이미지 삭제 버튼 클릭 시 해당 파일 넘버를 배열에 담고 히든 값으로 저장-->
              <input type="hidden" id="arr" name="arrNo">
              
              
              <div style="float: right;">
                  <button type="submit" class="btn btn-default" id="button_color">수정하기</button >
                  <a class="btn btn-default" id="button_color" th:href="'/smallGroupDetail/'+${updateBoard.houseNo}+'/'+${updateBoard.myhouseCategory}+'/'+${updateBoard.myhouseNo}" >뒤로가기</a  >
              </div>
              </div>
        </form>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <script th:inline="javascript">
  
  let houseNo = $("#houseNo").val();
  let myhouseCategory = $("#myhouseCategory").val();
  let myhouseNo = $("#myhouseNo").val(); 
  let fileNoArr = [];
  

  /* 
  1. 삭제 버튼 클릭 시 해당 파일 넘버를 받는다
  2. 파일 넘버를 배열에 저장한 후 해당 파일의 텍스트를 지운다
  3. 배열에 저장된 파일 넘버들을 input 히든 타입으로 저장  
  */
  function deleteFile(fileNo){
	console.log(fileNo);
	fileNoArr.push(fileNo);
	$(".imgList"+fileNo).html("");
	document.getElementById('arr').value = fileNoArr;
}

  </script>

 <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });

  $.datepicker.setDefaults({
  dateFormat: 'yy-mm-dd',
  prevText: '이전 달',
  nextText: '다음 달',
  monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  dayNames: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
  showMonthAfterYear: true,
  yearSuffix: '년'
  });

  $(function() {
    $('.datepicker').datepicker({minDate:0});
  });

  $('.timepicker-no-scrollbar').timepicker({
    timeFormat: 'h:mm p',
    interval: 60,
    defaultTime: '6',
    startTime: '10:00',
    dynamic: false,
    dropdown: true,
    scrollbar: true
  });
  
  $(document).ready(function(){
    $('input.timepicker').timepicker({});
  });
  

  const navbar = document.querySelector('#nav');
    const navbarHeight = navbar.getBoundingClientRect().height;

    document.addEventListener('scroll', () => {
      console.log(window.scrollY);
      if (window.scrollY > navbarHeight) {
        navbar.classList.add('navbar_display');
      } else {
        navbar.classList.remove('navbar_display');
      }
    });
  </script>>


  <script type="text/javascript" src="/../../js/main.js"></script>
</body>
</html>