<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

  <title>꿀팁</title>
  <style>
    .navbar_display {
      background-color: white;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      transition: all 300ms ease-in-out;
    }
  </style>

  <link href="../../css/main.css" rel="stylesheet">
</head>

<body class="">
<div th:replace="view/fragments/header::header"></div>
  <div class="hero-full-container white-text-container">
    <div class="section-container background-image-container">
      <div class="section-container-spacer text-center">
        <div class="container">
          <h1 class="h2">꿀팁</h1>
          <div id="divsize">
            <!--검색창-->
            <div class="div_right">
             <th:block layout:fragment="search">
				<form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
					<input type="search" placeholder="Search..." class="input-search">
					<button class="mdi mdi-magnify button-search" type="submit">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</th:block>
            </div>
            <!--게시판 목록 표출-->
            <table class="type04">
              <tr>
                <th id="table_width_no">No</th>
                <th id="table_text">제목</th>
                <th id="table_width_writer">작성자</th>
                <th id="table_width_writer">작성일</th>
                <th id="table_width_hit">조회수</th>
              </tr>
             <tbody>
					<tr th:each="cvo : ${communityList}">
						<td scope="row" th:text="{cvo.noticeNo}"></td>
						<td class="text-left">
							<a th:href="@{/board/view( noticeNo=${cvo.noticeNo} )}" th:text="${cvo.noticeTitle}"></a>
						</td>
						<td th:text="${cvo.nickname}"></td>
						<td th:text="${#temporals.format( cvo.noticeRegDate, 'yyyy-MM-dd HH:mm' )}"></td>
						<td th:text="${cvo.noticeHit}"></td>
					</tr>
			  </tbody>
            </table>

          </div>
          <!--페이징-->
         <!--<th:block layout:fragment="paging">
				<nav aria-label="Page navigation" class="text-center">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</th:block>-->
          <!--글쓰기 버튼-->
          <div class="div_right">
            <a href="@{/board/insertCommunity}" class="btn btn-default" id="writerBtn">글쓰기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--푸터-->

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
    const navbar = document.querySelector('#nav');
    const navbarHeight = navbar.getBoundingClientRect().height;

    document.addEventListener('scroll', () => {
      console.log(window.scrollY);
      if (window.scrollY > navbarHeight) {
        navbar.classList.add('navbar_display');
      } else {
        navbar.classList.remove('navbar_display');
      }
    });
  </script>

  <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b0a2517b770a94b696a3d34e4f2e13ba&libraries=services"></script> -->

  <script type="text/javascript" src="../../js/main.js"></script>
</body>

</html>