<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout lang="ko">


<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

  <title>우리집</title>

  <link href="../../../css/main.css" rel="stylesheet">
  <script src="../../../js/jquery.js"></script>
  <style>
    .navbar_display {
      background-color: white;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      transition: all 300ms ease-in-out;
    }
  </style>
</head>

<body class="">
  <!-- Add your content of header -->
  <div th:replace="view/fragments/header::header"></div>
  
  <input type="hidden" id="id" th:value="${#authentication.principal.username}">

  <div class="hero-full-container white-text-container">
    <div class="section-container background-image-container">
      <div class="section-container-spacer text-center">
        <div class="container">
          <h1 class="h2" >내가 작성한 글</h1>

          <form name="search-form" th:action="'/community/'+${category}" method="post" role="form">
            <!-- 검색값 화면단에 고정 (값받아오는거 때문)-->
            <input type="hidden" name="condition" th:value="${condition}">
            <input type="hidden" name="keyword" th:value="${keyword}">

            <div id="divsize">



              <!--검색창-->
              <div class="div_right" style="width: 33%;">

                <div style="position: absolute; right: 75%; width:30%;">
                  <select name="myhouseCategory" id="sOption" class="div_right boarderselect">
                    <option value="B">자랑해요</option>
                    <option value="H">꿀팁있어요</option>
                    <option value="F">잡담해요</option>
                  </select>

                </div>

                <select name="searchCondition">
                  <th:each>
                    <option value="NOTICE_TITLE">제목
                    <option value="NOTICE_CONTENT">내용
                  </th:each>
                </select>
                <input name="searchKeyword" type="search" placeholder=" 검색어를 입력하세요">
                <!--<button type="button" onclick="getSearchList" style="background-color: rgb(10, 55, 50); border: 0;"><i class="fas fa-search icon_search"></i> </button >-->
              </div>


              <!--게시판 목록 표출-->
              <table class="type04" id="paramList">
                <tr>
                  <th id="table_width_no">No</th>
                  <th id="table_text">제목</th>
                  <th id="table_width_writer">작성자</th>
                  <th id="table_width_writer">작성일</th>
                  <th id="table_width_hit">조회수</th>
                </tr>
                <tr th:each="board, status: ${paramList}">

                  <input type="hidden" name="nickname" id="nickname" th:value="${board.nickname}">
                  <input type="hidden" name="noticeNo" id="noticeNo" th:value="${board.noticeNo}">

                  <td th:text="${board.noticeNo}"></td>
                  <td><a th:text="${board.noticeTitle}"
                      th:href="'/communityDetail/'+${board.noticeCategory}+'/'+${board.noticeNo}"></a>
                  </td>
                  <td th:text="${board.nickname}"></td>
                  <td th:text="${board.noticeRegDate}"></td>
                  <td th:text="${board.noticeHit}"></td>
                </tr>
              </table>
            </div>
            <!--페이징 처리-->
            <div>
              <ul class="pagination">
         <!--처음으로 버튼
         pageMaker : 컨트롤러에 noticeBoard안에 선안한값 
         pageNum = 게시글 넘어가는 페이지값-->
            <li th:class="pagination_button" style="float:left;margin-left:5px;">
               <a th:href="'/community/'+${category}+'?pageNum='+${pageMaker.startPage}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}"><<</a>
            </li>
         <!--이전 버튼 마지막 페이지 이동 시 숨김-->
            <span th:if="${pageMaker.cri.pageNum}!=1">
               <li th:class="pagination_button" style="float:left;margin-left:5px;">
                  <a th:href="'/community/'+${category}+'?pageNum='+${pageMaker.cri.pageNum -1}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}">이전</a>
               </li>
            </span>
            <!--숫자 버튼 게시글 수가 늘어날 수록 하나씩 추가된다.-->
            <span th:if="${pageMaker.endPage}!=0">
               <th:block th:each="Num:${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                  <li th:class="pagination_button" style="float:left;margin-left:5px;">
                     <a th:href="'/community/'+${category}+'?pageNum='+${Num}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}" th:text="${Num}"></a>
                  </li>
               </th:block>
            </span>
            <!--다음 버튼 마지막 페이지 이동 시 숨김-->
            <span th:if="${pageMaker.cri.pageNum}!=${pageMaker.endPage + 1}">
               <li th:class="pagination_button" style="float:left;margin-left:5px;">
                  <a th:href="'/community/'+${category}+'?pageNum='+${pageMaker.cri.pageNum +1}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}">다음</a>
               </li>
            </span>
         <!--마지막으로 버튼-->
            <li th:class="pagination_button" style="float:left;margin-left:5px;">
               <a th:href="'/community/'+${category}+'?pageNum='+${pageMaker.endPage+1}+'&searchCondition='+${condition}+'&searchKeyword='+${keyword}">>></a>
            </li>
         </ul>
      </div >
          </form>
         
         
         
         
         
         
          <!--글쓰기 버튼-->
          <div class="div_right">
         <a href="/mypage" class="btn btn-default" id="writerBtn">뒤로가기</a>           
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
    const navbar = document.querySelector('#nav');
    const navbarHeight = navbar.getBoundingClientRect().height;

    document.addEventListener('scroll', () => {
      console.log(window.scrollY);
      if (window.scrollY > navbarHeight) {
        navbar.classList.add('navbar_display');
      } else {
        navbar.classList.remove('navbar_display');
      }
    });
  </script>
  
  <script>
     var dataArray = [];
     
     var data1 = {
   
   "noticeNo" : $("#noticeNo").val(),
   "nickname" : $("#nickname").val(),
   "id" : $("#id").val()
   }
   
   dataArray.push(data1);

   var paramList = {
      "paramList" : JSON.stringify(dataArray)
   }
  
   $("select[id='sOption']").change(function(){
      let type = this.value;
      
       $.ajax({
      type:'post',
      url:'/community/'+ type,
      data: paramList,
      success:function(obj){
         console.log(data+"111111");
         console.log(obj);
                  var data = JSON.parse(obj);
                  console.log(data.paramList);
                  $("#paramList").html(""); 
            var htmlString = "";
                  htmlString += "<tr>"
                  htmlString += "<th id='table_width_no' >NO</th>"
                  htmlString += "<th id='table_text'>제목</th>"
                  htmlString += "<th id='table_width_writer'>작성자</th>"
                  htmlString += "<th id='table_width_writer'>작성일</th>"
                  htmlString += "<th id='table_width_hit'>조회수</th>"
                  htmlString += "</tr>"
                  
                  for(var i=0; i<data.paramList.length; i++){
                     htmlString += "<tr>"
                     htmlString += "      <td>"+data.paramList[i].noticeNo +"</td>"
                    htmlString += "      <td><a href="+'/communityDetail/'+data.paramList[i].noticeCategory+"/"+data.paramList[i].noticeNo+">"
                                          +data.paramList[i].noticeTitle +"</a></td>"
                     htmlString += "      <td>"+data.paramList[i].nickname +"</td>"
                     htmlString += "      <td>"+data.paramList[i].noticeRegDate +"</td>"
                     htmlString += "      <td>"+data.paramList[i].noticeHit +"</td>"
                      htmlString += "</tr>"
      } 
            $("#paramList").append(htmlString);
      }, error:function(e){
      console.log(e);
} 
   })
      
      }); 
  
  function getSearchList(){
   $.ajax({
      type: 'GET',
      url : '/myhouseBoard/'+ type,
      data : $("form[name=search-form]").serialize(paramList),
      success : function(data){
         //테이블 초기화
         $('#paramList').empty();
         if(result.length>=1){
            result.forEach(function(obj){
                 var data = JSON.parse(obj);
                 $("#paramList").html(""); 
            var htmlString = "";
                  htmlString += "<tr>"
                  htmlString += "<th id='table_width_no' >NO</th>"
                  htmlString += "<th id='table_text'>제목</th>"
                  htmlString += "<th id='table_width_writer'>작성자</th>"
                  htmlString += "<th id='table_width_writer'>작성일</th>"
                  htmlString += "<th id='table_width_hit'>조회수</th>"
                  htmlString += "</tr>"
                  
                  for(var i=0; i<data.paramList.length; i++){
                     htmlString += "<tr>"
                     htmlString += "      <td>"+data.paramList[i].noticeNo +"</td>"
                     htmlString += "      <td>"+data.paramList[i].noticeTitle +"</td>"
                     htmlString += "      <td>"+data.paramList[i].nickname +"</td>"
                     htmlString += "      <td>"+data.paramList[i].noticeRegDate +"</td>"
                     htmlString += "      <td>"+data.paramList[i].noticeHit +"</td>"
                      htmlString += "</tr>"
                      }
               $('#paramList').append(htmlString);
              })             
         }
      }
   })
}
  </script>
  
  <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b0a2517b770a94b696a3d34e4f2e13ba&libraries=services"></script> -->

  <script type="text/javascript" src="../../../js/main.js"></script>
</body>

</html>