@charset "UTF-8";

* {
	padding: 0%;
	margin: 0%;
}

a {
	text-decoration: none;
	color: #000;
}
button, input {
	border: 0;
	background-color: #00ff0000;
}
button:hover, input:hover, a:hover {
	cursor: pointer;
}
.background {
	height: 900px;
	/* background-color:#f8f8f8; */
	background-color: gray;
}

/* page back */
.pageBack {
	position: absolute;
	top: 230px;
	left: 350px;
}
.pageBack img {
	width: 70px;
}

/* container */
.container_view {
    background-color: white;
    display: flex;
    position: relative;
    width: 1000px;
    height: 550px;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
.container_view2 {
    background-color: transparent;
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%); */
    /* border-radius: 5px; */
}
/* creator nickname */
.v_nickname {
	font-weight: bold;
}

.v_title {
	font-weight: bold;
	color: black;
	position: absolute;
	padding-left: 10%;
	top: 30px;
}
.v_like {
	font-weight: bold;
	color: black;
	position: absolute;
	padding-left: 10%;
}


/* feed photo */
.v_leftbox {
	width: 55%;
	position: relative;
	box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
.v_leftbox>img {
	width: 96%;
	height: 60%;
	object-fit: cover;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
}

.v_leftbox2 {
	width: 55%;
	position: relative;
    border-radius: 5px;
}
.v_leftbox2>img {
	width: 96%;
	height: 60%;
	object-fit: cover;
	margin-top: 10px;
	margin-left: 10px;
}


/* tag icon */
.v_leftbox>button>img {
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 30px;
}

/* feed contents */
.v_rightbox {
	padding-left: 7px;
	width: 45%;
	display: flex;
	flex-direction: column;
}

/* profilephoto div */
.v_profile {
	position: relative;
	height: auto;
}
.v_photo { /* 위치 조정 필요 */
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.v_profile img {
	margin: 30%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid #C9C0AE;
}

/* creator nickname */
.v_profile>a {
	position: absolute;
	padding-left: 80%;
	top: 30px;
}
.v_profile > .v_nickname2 {
   position: absolute;
   padding-left: 30%;
   top: 30px;
   padding-right: 10px;
   color: coral;
}

.v_profile > .writerName {
	position: absolute;
	padding-left: 30%;
	top: 30px;
	padding-right: 10px;
	color: coral;
}

.edit_div {
    position:absolute;
    right:100px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 5px;
    top: 150px;
}
.delete_div{
	position:absolute;
	right:25px;
	background-color: white;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 5px;
	top: 150px;
}

.edit_div2 {
    position:absolute;
    right:100px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 5px;
    top: 90%;
}
.delete_div2 {
	position:absolute;
	right:25px;
	background-color: white;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 5px;
	top: 90%;
}
.feedview_btn {
	display: block;
	width: 60px;
	line-height: 28px;
	text-align: center;
	font-size: 13px;
	color: #545454;
	cursor: pointer;
	border: 1px solid #C9C0AE;
	border-radius: 5px;
}


/* contents div */
.contents {
	padding-top: 15%;
	padding-right: 20px;
	padding-bottom: 20px;
	overflow: hidden;
	height: auto;
	padding-bottom: 20px;
}
/* discription */
.contents>p {
	text-align: left;
	padding-left: 10%;
	line-height: 1.5;
	font-size: 15px;
	margin: 0 0 5px;
}
/* hashtag */
.contents>div {
	padding-top: 5px;
	padding-left: 25%;
}
.contents a {
	color: grey;
	font-size: 15px;
}

/* comment div */
.commentbox {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	height: 1500px;
	/* border-top: 1px solid #C9C0AE; */
	white-space: normal;
	word-break: break-all;
}

/*.commentbox::webkit-scrollbar {
		width:5px;
		background-color: black;
}*/
.commentbox > div > p {
	text-align: left;
}

/* commentbox  */
.comments {
	position: relative;
	overflow: hidden;
	display: flex;
}
/* profile */
.cmt-profile {
	/* 위치 조정 */
}
.cmt-profile>button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.cmt-profile img {
	margin: 40%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid #C9C0AE;
}
/* comment */
.comment {
	padding-left: 45px;
	padding-top: 30px;
	padding-right: 20px;
	line-height: 1.4;
	font-size: 15px;
	overflow: hidden;
	height: auto;
    width: 350px;
}
.v_nickname {
	padding-right: 10px;
	font-weight: 600;
}
.comment_edit {
	
}
.comment_delete {
		
}
.delete_icon {
	width: 17px;
	position:absolute;
	top: 30px;
	right: 30px;
}

/* commenting div */
.commentingbox {
	display: flex;
	flex-direction: column;
	bottom: 0;
	height: 160px;
	border-top: 1px solid #fff;
}
/* commenting nav */
.buttonline {
	display: flex;
	position: relative;
	justify-content: space-between;
	border-bottom: 1px solid #C9C0AE;
	padding-bottom: 5px;
}
.buttonline button {
	position: absolute;
	top: 10px;
}
.buttonline img {
	position: absolute;
	width: 25px;
}
.like {
	left: 20px;
}
.share {
	position: absolute;
	left: 65px;
	top: 9px;
}

/* like count */
.likeline {
	padding-top: 16px;
	padding-right: 20px;
}
.likeline>p {
	padding-bottom: 5px;
}

/* comment input */
.commentingline {
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.textbox {
	width: 85%;
}
.textbox>input {
	margin-left: 5%;
	outline: none;
	width: 95%;
	height: 100%;
	font-size: 17px;
}

/* comment submit */
.submitbox {
	width: 15%;
}
.submitbox>input {
	color: #00acee;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	height: 90%;
	padding-top: 10px;
}